<div class="row">
    <div class="col-6 offset-3">
        
        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
          <div class="mt-5">
          
        <%= bootstrap_form_for(:session, url: sessions_path) do |f| %>
            <p class = "h3 text-danger"> Login with either: </p>
            <%= f.text_field :name %>
            <p>Or</p>
            <%= f.text_field :username %>
            <p>Or</p>
            <%= f.email_field :email %>

            <%= f.submit "Log in" %>
        <% end %>
        </div>
    </div>
</div>
