<div class= "container  mt-5" >
<h1 class= "h3 text-warning"> upcoming events </h1>
<% @upcoming_events.each do |event| %>
  <div class="row bg-dark bordercard">
    <img class="col-2" src="https://i.picsum.photos/id/<%=rand(1...10)%>/200/300.jpg">
    <div class="col-7 card bg-dark">
      <div class="card-body mt-4">
        <p class= "h3 card-title text-warning"> <%= event.title %> </p>
        <div class= "card-title text-light my-4"> <span class="text-warning"> when: </span> <%= event.date.to_datetime.strftime("%d/%m/%Y") %> <span class="text-warning"> starts at: </span> <%= event.date.to_time.strftime("%T") %></p> </div>
        <div class="my-4"><span class="text-warning my-5"> location:  </span></div>
        <p class="h6"> <%= link_to event.location, event.location %> </p>
        <div class="my-4"> <span class="text-warning my-5"> description: </span>  <p class="text-light"> <%= event.description %> </p></div>
      </div>
    </div>
    <div class="col-2 pt-5">
      <div class="card-title text-warning"> guests: </div>
      <div class="card-title text-light"> 
      <% event.guests.each do |guest| %>
        <div> <%= link_to guest.name, user_path(guest) %> </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>

<h1 class= "h3 text-warning mt-5"> previous events </h1>
<% @past_events.each do |event| %>
  <div class="row bg-dark bordercard">
    <img class="col-2" src="https://i.picsum.photos/id/<%=rand(1...10)%>/200/300.jpg">
    <div class="col-7 card bg-dark">
      <div class="card-body mt-4">
        <p class= "h3 card-title text-warning"> <%= event.title %> </p>
        <div class= "card-title text-light my-4"> <span class="text-warning"> when: </span> <%= event.date.to_datetime.strftime("%d/%m/%Y") %> <span class="text-warning"> starts at: </span> <%= event.date.to_time.strftime("%T") %></p> </div>
        <div class="my-4"><span class="text-warning my-5"> location:  </span></div>
        <p class="h6"> <%= link_to event.location, event.location %> </p>
        <div class="my-4"> <span class="text-warning my-5"> description: </span>  <p class="text-light"> <%= event.description %> </p></div>
      </div>
    </div>
    <div class="col-2 pt-5">
      <div class="card-title text-warning"> guests: </div>
      <div class="card-title text-light"> 
      <% event.guests.each do |guest| %>
        <%= link_to guest.name, user_path(guest) %> 
      <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>