<h1 class= "h3 text-warning"> upcoming events </h1>
<% @events.each do |event| %>
  <div class="row bg-dark bordercard">
    <img class="col-2" src="https://i.picsum.photos/id/<%=rand(1...10)%>/200/300.jpg">
    <div class="col-9 card bg-dark">
      <div class="card-body mt-4">
        <p class= "h3 card-title text-warning"> <%= event.title %> </p>
        <div class= "card-title text-light my-4"> <span class="text-warning"> when: </span> <%= event.date.to_datetime.strftime("%d/%m/%Y") %> <span class="text-warning"> starts at: </span> <%= event.date.to_time.strftime("%T") %></p> </div>
        <div class="my-4"><span class="text-warning my-5"> location:  </span></div>
        <p class="h6"> <%= link_to event.location, event.location %> </p>
        <div class="my-4"> <span class="text-warning my-5"> description: </span>  <p class="text-light"> <%= event.description %> </p></div>
      </div>
    </div>
  </div>
<% end %>

<h1 class= "h3 text-warning"> past events </h1>
<% @events.each do |event| %>
  <div class="row bg-dark bordercard">
    <img class="col-2" src="https://i.picsum.photos/id/<%=rand(1...10)%>/200/300.jpg">
    <div class="col-9 card bg-dark">
      <div class="card-body mt-4">
        <p class= "h3 card-title text-warning"> <%= event.title %> </p>
        <div class= "card-title text-light my-4"> <span class="text-warning"> when: </span> <%= event.date.to_datetime.strftime("%d/%m/%Y") %> <span class="text-warning"> starts at: </span> <%= event.date.to_time.strftime("%T") %></p> </div>
        <div class="my-4"><span class="text-warning my-5"> location:  </span></div>
        <p class="h6"> <%= link_to event.location, event.location %> </p>
        <div class="my-4"> <span class="text-warning my-5"> description: </span>  <p class="text-light"> <%= event.description %> </p></div>
      </div>
    </div>
  </div>
<% end %>
