<h1 class= "h3 text-warning"> upcoming events </h1>

<% @events.each do |event| %>
    <div class="card">
      <%= event.image %>
      <%= event.title %>
      <%= event.date %>
      <%= event.location %>
      <%= event.description %>
    </div>
<% end %>