<div class="container  mt-5">
 <h1 class="title text-warning h4 p-0">your new event details</h1>
 <div class="d-flex bg-dark bordercard">
  <div class="col-3"> <img src="https://i.picsum.photos/id/<%=rand(1...10)%>/200/300.jpg"></div>
  <div class="card bg-dark col-9">
    <span class="card-body mt-4">
      <p class= "h3 card-title text-warning"> <%= @event.title %> </p>
      <div class= "card-title text-light my-4"> <span class="text-warning"> when: </span> <%= @event.date.to_datetime.strftime("%d/%m/%Y") %> <span class="text-warning"> starts at: </span> <%= @event.date.to_time.strftime("%T") %></p> </div>
      <div class="my-4"><span class="text-warning my-5"> location:  </span> <p class="h6"> <%= link_to @event.location, @event.location %> </p>  </div>
      <div class="my-4"><span class="text-warning my-5"> description:  </span> <p class="text-light"> <%= @event.description %> </p></div>
    </span>
  </div>
</div>
<div>
