<div class="topbar bg-clear">
  <div class="d-flex justify-content-between" >
    <%= image_tag("/webvents.png") %>
    <ul class="nav nav-pills justify-content-around flex-nowrap ">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link bg-white text-dark text-nowrap" %>
      </li>
      <li class="nav-item">
        <%= link_to 'All events', events_path, class: "nav-link bg-white text-dark text-nowrap" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Add event', new_event_path, class: "nav-link active text-clear text-nowrap" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Sign up', new_user_path, class: "nav-link bg-white text-dark text-nowrap" %>
      </li>
      <li class="nav-item">
        <% if user %>
          <%=  link_to "#{user.name}'s Profile", user_path(user), class: "nav-link bg-white text-dark"  %>
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-link bg-white text-dark px-5 py-1 logout" %>
        <% else %>
          <%= link_to "Log in", new_session_path, class: "nav-link bg-white text-dark"  %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
